<!-- Language Selector Component -->
<!-- To use: include this component with: include 'components/language_selector.html' -->

<div class="language-selector">
    <span class="current-language">
        <span class="flag">{{ locale|language_flag }}</span>
        <span class="name">{{ locale|language_name }}</span>
    </span>
    <div class="language-dropdown">
        {% for locale_code in SUPPORTED_LOCALES %}
            <a href="#" 
               data-language="{{ locale_code }}" 
               class="language-option {% if locale_code == locale %}active{% endif %}"
               title="{{ locale_code|language_name }}">
                <span class="flag">{{ locale_code|language_flag }}</span>
                <span class="name">{{ locale_code|language_name }}</span>
            </a>
        {% endfor %}
    </div>
</div>
